Package: astrobee-astrobatics-mpc
Source: astrobee
Version: 0.16.6
Architecture: armhf
Maintainer: Astrobee Flight Software <astrobee-fsw@nx.arc.nasa.gov>
Installed-Size: 29196
Section: libs
Priority: optional
Homepage: http://github.com/nasa/astrobee
Description: Astrobatics software for Astrobee ISS test session.
 Astrobatics software for Astrobee ISS test session.
